<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http:www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Academy - Login</title>
<script src="https://kit.fontawesome.com/006642858d.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@1,100&family=Yusei+Magic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="login-form">
		<div class="container">
			<div class="main-div">
				<div class="texto-header">
					<h2>Cadastre seu usuario</h2>
					<p>Insira suas credenciais para efetuar o login</p>				
				</div>
				<form method="post" th:object="${usuario}" action="salvarUsuario">
					<div class="form-group">
						<input type ="email" class="form-control" th:field="*{email}" placeholder="email">
					</div>
					
					<div class="form-group">
						<input type ="text" class="form-control" th:field="*{user}" placeholder="username">
					</div>
					<div class="form-group">
						<input type ="password" class="form-control" th:field="*{senha}" placeholder="insira sua senha">
					</div>
					<div class="cadastro">
						<p>Não tem cadastro? Clique Aqui</p>
					</div>
					
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<button type="submit" class="btn btn-info">Voltar</button>
					
				
				</form>
			
			</div>
		</div>
	
	</div>

</body>
</html>