<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http:www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Academy</title>
<script src="https://kit.fontawesome.com/006642858d.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@1,300&family=Yusei+Magic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div th:replace="fragmento/fragmentos ::cabecalho"></div>
	<div class="container" style="margin-top: 50px;">
		<br>
		<h4>Inserir Alunos</h4>
		<br>
		<hr>
			<form method="post" action="/InsertAlunos" th:object=${aluno} autocomplete="off">
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
				<label class = "validation-message" th:errors="*{nome}"></label>
				</div>	
				<label>Nome do Aluno:</label>
				<input class="form-control" placeholder="Ex: Martin" th:field="*{nome}">
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('turno')}">
				<label class = "validation-message" th:errors="*{turno}"></label>
				</div>
				<label>Turno</label>
				<input class="form-control" placeholder="Ex: Manhã" th:field="*{turno}">
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('matricula')}">
				<label class = "validation-message" th:errors="*{matricula}"></label>
				</div>
				<label>Gerar matricula</label>
					<input class="form-control" id="matricula" th:field="*{matricula}">
					<button type="button" onclick="GerarMatricula();" class="btn btn-dark" style="margin-top:10px">Gerar</button>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<label>Selecione o curso</label>
				<select class="form-control"  th:field="*{curso}">
					<option th:each="curso : ${T(br.com.academy.enums.Curso).values()}"
					th:value="${curso}" th:text="${curso}">
					</option>
				</select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<label>Selecione o status</label>
				<select class="form-control" th:field="*{status}">
					<option th:each="status : ${T(br.com.academy.enums.Status).values()}"
					th:value="${status}" th:text="${status}">
					</option>
				</select>
				</div>
			</div>
			
			<div class="row">
				<button type="submit" class="btn btn-success offset-md-3">SALVAR</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="btn btn-outline-danger">VOLTAR</a>			
			</div>
			
			</form>
	
		
	
	</div>
	
	
	
	
	<div th:replace="fragmento/fragmentos ::rodape"></div>
	



	<script src="js/main.js"></script>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>