<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http:www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Academy</title>
<script src="https://kit.fontawesome.com/006642858d.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@1,300&family=Yusei+Magic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
		<div th:replace="fragmento/fragmentos ::cabecalho"></div>
	
		<div class="container" style="margin-top: 50px;">
		<div class="container">
		
		<h3>Alunos encontrados</h3>
		<hr>
		<table class="table table-bordered table-hover">
		
		<thead>
			<th scope="col">Nome</th>
			<th scope="col">Curso</th>
			<th scope="col">Ação</th>
			
		</thead>
			<tbody>
				<tr scope="row" th:each="alunos: ${ListaDeAlunos}">
					<td th:text="${alunos.nome}"></td>
					<td th:text="${alunos.curso}"></td>
					<td>
						<a class="btn btn-primary" th:href="@{alterar/{id}(id=${alunos.id})}">
						<i class="fas fa-edit"> Editar</i>
						</a>
						<a class="btn btn-danger" th:href="@{excluir/{id}(id=${alunos.id})}">
						<i class="fas fa-times"> Excluir</i>
						</a>						
						
					</td>
				
				</tr>
			
			</tbody>
			
		
		</table>
		
		
		
		
		</div>
	
	
	
	</div>
	
	
	
	
	
	
	
			<div th:replace="fragmento/fragmentos ::rodape"></div>
		
		
		
		
		
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>